table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
    font-size: 2rem;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

body{
    font-family: "Lilita One", serif;
}

h1{
    text-align: center;
    font-size: 10rem;
}

.image-preview{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    padding: 3rem;
}

.image-preview img{
    max-height: 10rem;
}

.content{
    width: 80%;
    margin: auto;
}

@media screen and (min-width: 1400px) {
    .image-preview img {
        max-height: 20rem;
    }
    table, th, td {
        font-size: 3rem;
    }
    .image-preview{
        width: 50%;
        padding: 5rem;
    }
    .content{
        width: 50%;
    }
}



.nav-item{
    height: 5rem;
    text-decoration: none;
    font-size: 3rem;
    font-style: normal;
    color: black;
    width: 15rem;
    padding: 2rem;
    background-color: green;
    transition:
        width 2s,
        height 2s,
        background-color 1s,
        rotate 2s;
}

a:hover, a:active {
    background-color: black;
    color: white;
  }

#nav{
    margin: auto;
    padding: 1rem;
}

#selected {
    background-color: black;
    color: white;
  }
