table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
    font-size: 2rem;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

body{
    font-family: "Lilita One", serif;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 7rem;
}

h2{
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    margin-bottom: 0;
}

.image-preview{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    padding: 3rem;
}

.image-preview img{
    max-height: 10rem;
}

.blurred:hover{
    transform: rotate(5deg);
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}


.content{
    width: 80%;
    margin: auto;
    text-align: center;
}

.nav-item{
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
    color: black;
    padding: 2rem;
    margin: 1rem;
    background-color: green;
}

a:hover{
    transform: rotate(5deg);
    transition:
        rotate 1s,
}

.nav-item:hover{
    background-color: black;
    color: white;
    transition:
        background-color 1s,
}

#nav{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#selected {
    background-color: black;
    color: white;
    transform: rotate(5deg);
  }

#user-form{
    margin: auto;
    display: block;
    align-items: center;
    font-size: 2rem;
    max-width: 50rem;
}

#user-form input{
    margin: 1rem;
    font-size: 3rem;
    font-family: "Lilita One", serif;
    background-color: white;
    color: gray;
    text-align: right;
}

#user-form input[type=number]{
    margin: 1rem;
    width: 6rem;
}

#user-form input[type=text]{
    margin: 1rem;
    width: 20rem;
}

#user-form button{
    background-color: green;
    color: white;
    font-family: "Lilita One", serif;
    font-size: 3rem;
    padding: 1rem;
}

#user-form button:hover{
    background-color: black;
    color: white;
    font-family: "Lilita One", serif;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
    transform: rotate(5deg);
    transition:
        background-color 1s,
        transform .5s;
}

.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    padding: 1rem;
    margin: 1rem;
}

.banner{
    height: 5rem;
    background-color: green;
    margin: auto;
    margin-top: 3rem;
}


@media screen and (min-width: 1800px) {
    .image-preview img {
        max-height: 20rem;
    }
    table, th, td {
        font-size: 3rem;
    }
    .image-preview{
        width: 50%;
        padding: 5rem;
    }
    .content{
        width: 50%;
    }
    .nav-item{
        font-size: 3rem;
    }
    h1{
        font-size: 10rem;
    }
    h2{
        font-size: 7rem;
    }
}
